<div class="cpNav">
	<h2 class="pullLeft">CORPORATE: Serving <em>1424</em> employees from <em>3</em> companies</h2>
	<h2><!--&laquo;--> <input placeholder="1" /> of <em>5</em> &raquo;</h2>

	<button class="pullRight">Add Company</button>
</div>



<div class="cpBody">
	<table cellspacing="0">
		<tr id="usersTableHeaderRow">
	        <th>Roll Out Date</th>
	        <th>Company Name</th>
	        <th>Employees Joined</th>
	        <th>Employee Count</th>

			<th>View Data</th>
			<th>Manage</th>
		</tr>

		<tr><td>5/3/15</td><td>Rays</td><td>74</td><td>190</td>
			<td class="feed" data-feed-url="user/59c92f6eb0640af073bf67dff8513e90"><button class="btn-warning btn">View Data</button></td><td><a href="/corporate/manage"><button class="btn">Manage</button></a></td>
		</tr>

		<tr><td>5/2/15</td><td>Humana</td><td>1200</td><td>10000</td>
			<td class="feed" data-feed-url="user/fb7533eb06f1b79adcf83057222f126f"><button class="btn-warning btn">View Data</button></td><td><button class="btn">Manage</button></td></tr>

		<tr><td>5/2/15</td><td>Vanguard</td><td>150</td><td>500</td>
			<td class="feed" data-feed-url="user/b02b01a1be88918d9eba60ab09e06579"><button class="btn-warning btn">View Data</button></td><td><button class="btn">Manage</button></td></tr>
		</tr>
	</table>



</div>
