<div class="cpModalBg">
	<div class="cpModalBox animated bounceInDown">
		<div class="modalHeader">
			<a href="/corporate"><%= image_tag 'exitblack.png' %></a>
			<h2 class="vertCenter">The Rays</h2>
		</div>
		<div class="modalBody">
			<h2>Logo</h2>
			<img src="http://www.ninebullets.net/wp-images/2008/tampa-bay-rays.jpg" style="width: 250px;" /><br>
			<input placeholder="image_url" style="width: 160px;" />
			<button>Save Picture</button>

			<h2>Admins:</h2>
			<p>Joe Robins</p> <p>Paddy Wei</p> <p>Ruth Riener</p> <p>+</p>

			<h2>Notes</h2>
			<textarea class="comments" style="margin: 0px; height: 300px; width: 100%;">TMP - 5/4/15: I called Joe and reported some of the data for the month. He told me to call him back in a few weeks to go over the next interim data.</textarea>
			<button>Save Comment</button>



			<h2>Extra Page(s)</h2>
			<h3>1. <em>http://rays.fittr.com/meal-plans</h3>

			<input placeholder="Page URL" style="width: 160px;" />
			<button>Add Page</button>

		</div>
	</div>
</div>
